.about__code-container {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 3px solid white;
  border-radius: 8px;
  padding-bottom: 20px;
}

.about__code {
  margin: 0;
}
