/* Modifying card__count and card__delete-btn within the card */
.card__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}

/* "Individual Deck Titles" */
.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  padding: 20px 20px 0 20px;
}

/* "Individual Card Questions" */
.card__data {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  padding: 20px 20px 0 20px;
}

.card__count {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.card__btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.card__btn_type_flip {
  background-image: url("../images/flip.svg");
}

.card__btn_type_flip:hover {
  opacity: 1.5;
}

.card__btn_type_delete {
  background-image: url("../images/delete.svg");
}

.card__btn_type_delete:hover {
  opacity: 1.5;
}

.card {
  max-width: 325px;
  width: 100%;
  height: 205px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* CARD COLLECTION COLOR */
.card_color_green {
  background-color: #64d583;
}
.card_color_blue {
  background-color: #91a8f9;
}
.card_color_pink {
  background-color: #ee92d7;
}
.card_color_purple {
  background-color: #aa8ef0;
}
.card_color_orange {
  background-color: #ee955e;
}
.card_color_yellow {
  background-color: #f5d770;
}

/*Card-color that gives the answers to card questions*/
.card_color_white {
  background-color: white;
}
