/* CAROUSEL STYLES */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .carousel__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
} */

.carousel__grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;

  grid-template-areas:
    ".  card  . "
    "left card right"
    ".  card  . "
    ".  flip  .  ";

  gap: 20px;
}

.carousel__title {
  margin: 0 0 32px 0;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
  text-align: center;
}

.carousel__btn {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.5;
  border: none;
  padding: 0;
  margin-top: 10px;
}

.carousel__card {
  grid-area: card;
  width: 440px;
  height: 300px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.carousel__card-text {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
}

.carousel__btn:hover {
  opacity: 1;
}

.carousel__btn_type_left {
  grid-area: left;
}

.carousel__btn_type_left::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__btn_disabled {
  opacity: 20%;
  cursor: default;
}

.carousel__btn_disabled:hover {
  opacity: 20%;
}

.carousel__btn_type_right {
  grid-area: right;
}

.carousel__btn_type_right::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__btn_type_flip {
  grid-area: flip;
  display: block;
  margin-top: 4px;
  background-image: url("../images/flip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  justify-self: center;
}

/* CAROUSEL CARD COLOR */
.carousel__card_color_green {
  background-color: #64d583;
}
.carousel__card_color_blue {
  background-color: #91a8f9;
}
.carousel__card_color_pink {
  background-color: #ee92d7;
}
.carousel__card_color_purple {
  background-color: #aa8ef0;
}
.carousel__card_color_orange {
  background-color: #ee955e;
}
.carousel__card_color_yellow {
  background-color: #f5d770;
}

/*Card-color that gives the answers to card questions*/
.carousel__card_color_white {
  background-color: white;
}
