.modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal__hidden {
  display: none;
}

.modal__content {
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 5px;
}

#modal__cancel-button {
  font-size: 18px;
  font-weight: 700;
  width: 100px;
  height: 44px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow:
    1px -1px 2px 0px #00000040 inset,
    -1px 2px 2px 0px #ffffffb2 inset,
    0px 2px 8px 0px #0000001a;
}

#modal__confirm-delete-button {
  font-size: 18px;
  font-weight: 700;
  width: 100px;
  height: 44px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow:
    1px -1px 2px 0px #00000040 inset,
    -1px 2px 2px 0px #ffffffb2 inset,
    0px 2px 8px 0px #0000001a;
}

#modal__cancel-button,
#modal__confirm-delete-button {
  cursor: pointer;
  transition: transform 0.1s;
}

#modal__cancel-button:hover,
#modal__confirm-delete-button:hover {
  opacity: 0.7;
}

#modal__cancel-button:active,
#modal__confirm-delete-button:active {
  transform: translateY(2px);
}
