/* "Gallery" This is the large, formerly 'My Decks', gallery subtitle underneath Flash Cards */
.gallery__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 40px 0;
}

.gallery__practice-btn {
  width: 103px;
  height: 44px;
  border: none;
  border-radius: 8px;
  padding: 12px 16px 14px 16px;
  background-blend-mode: overlay;
  background:
    linear-gradient(0deg, #1a1a1a, #1a1a1a),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 55.81%,
      rgba(255, 255, 255, 0.3) 100%
    );
  color: white;
}

.gallery__practice-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

/*Styles for the New Deck Button, inside a list element,to wrap alongside the other listed decks*/
.gallery__new-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*Box where the listed Flash Cards and the +New Card Button are held*/
.gallery__list-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

/* Unordered List containing Flash Cards and the +New Deck Button */
.gallery__list {
  display: contents;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*Styles for the +New Deck Button */
.gallery__new-card-btn {
  font-family: inherit;
  background-color: #d9d9d9;
  max-width: 325px;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  padding: 20px 0 0 20px;
}

.gallery__new-deck-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}
