.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
}

.header__link {
  margin: 0;
  color: inherit;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.24px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .header {
    width: 393px;
    padding: 20px;
    /* gap: clamp(16px, 10vw, 72px); */
    box-sizing: border-box;
  }

  .header__title {
    font-size: 20px;
    font-weight: 900;
  }
}
