/* MEDIA QUERY AT 600px */

@media screen and (max-width: 600px) and (min-width: 315px) {
  .page {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* HOME VIEW BUTTON */

  .gallery__new-card-btn,
  .gallery__practice-btn {
    position: fixed;
    bottom: 60px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    line-height: 1;
    font-weight: 500;
    font-size: 18px;
    aspect-ratio: auto;
    z-index: 4;
    background-color: #1a1a1a;
    color: white;
    justify-content: center;
  }

  .gallery__new-card-btn {
    left: 0px;
    right: 0px;
    margin: 0px auto 15px auto;
    height: 44px;
  }

  /* DECK VIEW BUTTONS */
  /* Positioning the Practice button in small screens using CSS Grid */
  .gallery__practice-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    max-width: 325px;
    width: 100%;
    margin: 0px auto;
  }

  .gallery__title {
    grid-column: 1 / -1;
    text-align: left;
  }

  .gallery__practice-btn {
    left: auto;
    right: calc(50% - 160px);
    margin: 0 0 15px 0;
    width: 140px;

    /* grid-column: 2;
    justify-self: end;
    margin: 0px 0px 15px 0px;
    left: calc(60% - 26px);
    width: 140px; */
  }

  .gallery__new-card-btn_location_deck-view {
    left: calc(50% - 160px);
    right: auto;

    margin: 0 0 15px 0;
    width: 150px;
    height: 44px;

    /* margin: 0px auto 15px auto;
    width: calc(50% - 26px);
    max-width: 150px;
    height: 44px;
    left: -170px; */

    background: #cccccccc;
    color: #1a1a1a80;
  }

  .gallery__new-card:hover {
    background-color: #1a1a1a;
    color: white;
  }

  .page::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, #ececec 35%);
    z-index: 2;
    pointer-events: none;
  }

  .page_no-mobile-bar::after {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: -7px;
    left: 0px;
    right: 0px;
    width: 320px;
    height: 49px;
    margin: 0px auto;
    z-index: 3;
    background-color: #ececec;
  }

  .footer__text {
    position: fixed;
    bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .page_location_carousel .footer {
    position: static;
  }
}

/* CAROUSEL VIEW MEDIA QUERY IN carousel.css */
/* TYJ! */
