@media screen and (max-width: 600px) {
  .gallery__new-card-btn {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 50px;
    margin: 0px auto;
    margin-bottom: 12px;
    max-width: 353px;
    width: calc(100% - 40px);
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    line-height: 1;
    font-weight: 500;
    font-size: 18px;
    aspect-ratio: auto;
    min-height: auto;
    height: 44px;
    z-index: 4;
    background-color: #1a1a1a;
    color: white;
    justify-content: center;
  }

  .gallery__new-card:hover {
    background-color: #1a1a1a;
    color: white;
  }

  .page {
    padding-bottom: 100px;
  }

  .page::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, #ececec 35%);
    z-index: 1;
    pointer-events: none;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    background-color: #ececec;
  }

  .footer__text {
    font-size: 16px;
    padding: 20px 232px 20px 20px;
    background: linear-gradient(to top, transparent 0%, #ececec 70%);
    width: 100%;
  }
}

/* TYJ! */
