/* MEDIA QUERY AT 600px */

@media screen and (max-width: 600px) {
  .page {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* HOME VIEW BUTTON */

  .gallery__new-card-btn,
  .gallery__practice-btn {
    position: fixed;
    bottom: 60px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    line-height: 1;
    font-weight: 500;
    font-size: 18px;
    aspect-ratio: auto;
    z-index: 4;
    background-color: #1a1a1a;
    color: white;
    justify-content: center;
  }

  .gallery__new-card-btn {
    left: 0px;
    right: 0px;
    margin: 0px auto 15px auto;
    height: 44px;
  }

  /* DECK VIEW BUTTONS */

  .gallery__practice-btn {
    margin: 0px auto 15px auto;
    left: calc(60% - 26px);
    width: 140px;
  }

  .gallery__new-card-btn_location_deck-view {
    margin: 0px auto 15px auto;
    width: calc(50% - 26px);
    max-width: 150px;
    height: 44px;
    left: -170px;
    /* bottom: 0px; */
    background: #cccccccc;
    color: #1a1a1a80;
  }

  .gallery__new-card:hover {
    background-color: #1a1a1a;
    color: white;
  }

  .page::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, #ececec 35%);
    z-index: 2;
    pointer-events: none;
  }

  .page_no-mobile-bar::after {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 320px;
    height: 100px;
    margin: 0px auto;
    z-index: 3;
    background-color: #ececec;
  }

  .footer__text {
    position: fixed;
    bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .page_location_carousel .footer {
    position: static;
  }
}

/* CAROUSEL VIEW MEDIA QUERY IN carousel.css */
/* TYJ! */
