.nav__links {
  display: flex;
  gap: 20px;
  margin: 0px;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .nav__links {
    gap: 10px;
    padding: 20px 25px 20px 0px;
  }

  .nav__link {
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
  }
}
