.page {
  background-color: #ececec;
  padding: 20px 40px 32px 40px;
  max-width: 1440px;
  margin: 0 auto;
  color: #1a1a1a;
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.page__main-content {
  margin-top: 60px;
  margin-bottom: 138px;
  flex-grow: 1;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
}

.header__link {
  margin: 0;
  color: inherit;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.24px;
  text-decoration: none;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

/* "My Decks" This is the large My Decks subtitle underneath Flash Cards */
.decks__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 40px 0;
}

/* "Individual Card Titles" */
.deck__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  padding: 20px 0 0 20px;
}

/* Modifying deck__count and deck__delete-btn within the deck */
.deck__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 20px;
}

.deck__count {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.deck__delete-btn {
  margin-right: 20px;
  max-width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.deck__delete-btn:hover {
  opacity: 1;
}

/*Styles for the New Deck Button, inside a list element,to wrap alongside the other listed decks*/
.decks__newCard-button {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*Box where the listed Flash Cards and the +New Deck Button are held*/
.decks__list-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

/* Unordered List containing Flash Cards and the +New Deck Button */
.decks__list {
  display: contents;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*Styles for the +New Decks Button */
.decks__new-deck-btn {
  font-family: inherit;
  background-color: #d9d9d9;
  max-width: 325px;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  padding: 20px 0 0 20px;
}

.decks__new-deck-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.deck {
  max-width: 325px;
  width: 100%;
  height: 205px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* DECK CARD COLLECTION COLOR */
.deck_color_green {
  background-color: #64d583;
}
.deck_color_blue {
  background-color: #91a8f9;
}
.deck_color_pink {
  background-color: #ee92d7;
}
.deck_color_purple {
  background-color: #aa8ef0;
}
.deck_color_orange {
  background-color: #ee955e;
}
.deck_color_yellow {
  background-color: #f5d770;
}

/* CAROUSEL CARD COLOR */
.carousel__card_color_green {
  background-color: #64d583;
}
.carousel__card_color_blue {
  background-color: #91a8f9;
}
.carousel__card_color_pink {
  background-color: #ee92d7;
}
.carousel__card_color_purple {
  background-color: #aa8ef0;
}
.carousel__card_color_orange {
  background-color: #ee955e;
}
.carousel__card_color_yellow {
  background-color: #f5d770;
}

/*Card-color that gives the answers to card questions*/
.carousel__card_color_white {
  background-color: white;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.16px;
  color: #00000080;
}

/* CAROUSEL STYLES */

.page__main-content_type_carousel {
  margin-top: 106px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.carousel__title {
  margin: 0 0 32px 0;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
}

.carousel__btn {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.5;
  border: none;
  padding: 0;
}

.carousel__btn:hover {
  opacity: 1;
}

.carousel__btn_type_left::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__btn_disabled {
  opacity: 20%;
  cursor: default;
}

.carousel__btn_disabled:hover {
  opacity: 20%;
}

.carousel__card {
  width: 440px;
  height: 300px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.carousel__card-text {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
}

.carousel__btn_type_right::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__btn_type_flip {
  margin-top: 24px;
  background-image: url("../images/flip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
